# ignore python binary
*.pyc

# ignore currently edited files
.*.swp

# ignore database
db.sqlite3

# ignore binary translations
*.mo

# ignore tags
tags

#ignore eclipse stuff
.project
.pydevproject
.metadata/


# ignore grunt/bower/npm-stuff
build/
media/
node_modules/
res/assets/components/
static/
