# ignore python binary
*.pyc

# ignore currently edited files
.*.sw[op]

# ignore database
db.sqlite3

# ignore binary translations
*.mo

# ignore tags
tags

# ignore eclipse stuff
.project
.pydevproject
.metadata/

# ignore grunt/bower/npm-stuff
build/
dist/
debian/python3-on-geronimo/
debian/on-geronimo-api/
on_geronimo.egg-info/
media/
node_modules/
res/assets/components/
root/
static/

# api-Freifunk-Daten werden dynamisch erzeugt
freifunk-api/api.freifunk.net-*.json
!freifunk-api/static/
